
main {
  display: flex;
  flex-direction: column
}

.secao-banner-sobre {
  height: 40vh;
  margin-top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.titulo-banner-sobre {
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.titulo-banner-sobre h1{
  color: #eb099492;
  font-size: 80px;
  text-shadow: 2px 2px 1px ;
}

.container-secao-sobre-nos div {
  padding: 100px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-secao-sobre-nos h2{
  font-size: 35px;
  line-height: 36px;
  text-align: center;
}

.container-secao-sobre-nos span {
  font-size: 20px;
  font-style: italic;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 40px;
  text-align: center;
}

.container-secao-sobre-nos p {
  text-align: center;
  line-height: 26px;
  margin-bottom: 15px;
}

.container-secao-imagens div {
  display: flex;
}

.container-secao-imagens img {
  width: 50%;
  height: auto;
  margin-top: -70px;
  object-fit: cover;
}

.whatsapp {

  position: fixed;
  bottom: 60px;
  right: 10px;
  z-index: 100;
  width: 350px; 
  height: 130px;
  border-radius: 50px;
  text-align: center;
  font-size: 1.5em;
  background-color:#34af23 ;
  background-image: url('/public/assets/whatsapp.webp');
  border: none;
}

@media screen and (max-width: 768px) {
  .titulo-banner-sobre h1 {
    font-size: 60px;
  }

  .container-secao-imagens div {
    flex-direction: column;
  }

  .container-secao-imagens img {
    width: 100%;
    margin-bottom: 100px;
    
  }
}

@media screen and (max-width: 436px){
  .titulo-banner-sobre h1 {
    font-size: 40px;
  }
}
